<div id="<%= dom_id user_book %>">
  <h3>
    <i class="bi bi-book me-2"></i>
    <strong>
      <%= user_book.book.title %>
    </strong>
  </h3>
  <p>
    <strong>Owned By</strong>: <%= user_book.user.username %>
  </p>
</div>
